<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="userService" 
             type="UserServiceConfigSection.UserServiceSettingsConfigSection, UserServiceConfigSection"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userService>
      <server type="Master"/>
      <storage filename="userStorage.xml"/>
      <slaves>
        <slave name="slave1" ipAddress="127.0.0.1" port="8080"/>
        <slave name="slave2" ipAddress="127.0.0.1" port="8081"/>
      </slaves>
    </userService>
</configuration>